<?xml version="1.0"?>
<model>
  <name>cup</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>jxql-airobot</name>
    <email>jxql-airobot@users.noreply.github.com</email>
  </author>
  <description>A textured mug billboard used as a YOLO "cup" vision target.</description>
</model>
